/**/*.iml
/.idea/*
/gradle*
/local.properties
/app/fabric.properties
/app/src/main/AndroidManifest.xml
/app/src/main/java/kotako/java/info/bluebird/MainApplication.java
/app/src/main/res/mipmap*
/build/*
/**/build/*
/.gradle/*

